Source: node-csv-spectrum
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Archana <archana@disroot.org>
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/node-csv-spectrum
Vcs-Git: https://salsa.debian.org/js-team/node-csv-spectrum.git
Homepage: https://github.com/maxogden/csv-spectrum
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-csv-spectrum
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: Test for CSV parsing libraries
 The goal of this package is to capture test cases to represent
 the entire CSV spectrum.
 .
 A bunch of different CSV files to serve as an acid test for
 CSV parsing libraries. There are also JSON versions of the CSVs
 for verification purposes.
 .
 It is also a node module that you can require() in your tests.
 .
 Node.js is an event-based server-side JavaScript engine.
